body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #35363a;
}

#sketch {
  cursor: none;
  position: absolute;
  z-index: 999;
}

.container {
  width: 100vw;
  height: 100vh;
}

#search-box {
  position: relative;
  display: flex;
  justify-content: center;
}

#search {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  background: lightgray;
  border: none;
  outline: none;
  font-family: "Courier New", monospace;
}

#search:focus {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.2);;
}